@font-face {
  font-family: Tw Cen MT;
  src: url(font/tw-cen-mt/tw-cen-mt.ttf);
}
@font-face {
  font-family: Tw Cen MT;
  src: url(font/tw-cen-mt-light/tw-cen-mt-std-lightt.otf);
  font-weight: 200;
}
@font-face {
  font-family: Verdana;
  src: url(font/verdana-regular/verdana-regular.ttf);
}
@font-face {
  font-family: Helvetica;
  src: url(font/helvetica-light/helvetica-light.ttf);
  font-weight: 100;
}

@media (prefers-color-scheme: dark) {
  .light-theme{
    display: none;
  }

  body{
    background-color: #333;
    color: #ffffff;
  }

  a{
    color: #ffffff;
  }

  .horizongeodesie-colors{
    background-color: #1a1a1a;
  }

  .header{
    background-color: #1a1a1a;
  }

  .logo{
    color: #ffffff;
  }

  .logo-text a .anchor-link{
    background-color: #1a1a1a;
    color: #ffffff;
  }

  .logo-text a .anchor-link:hover{
    background-color: #262626;
    text-shadow: 2px 2px 5px #000000;
  }

  .landmeten{
    background-color: #1a1a1a;
  }

  .landmeten:hover{
    background-color: #262626;
    text-shadow: 2px 2px 5px #000000;
  }

  .maatvoering{
    background-color: #1a1a1a;
  }

  .maatvoering:hover{
    background-color: #262626;
    text-shadow: 2px 2px 5px #000000;
  }

  .opleiding{
    background-color: #1a1a1a;
  }

  .opleiding:hover{
    background-color: #262626;
    text-shadow: 2px 2px 5px #000000;
  }

  .tab-links a button{
    background-color: #1a1a1a;
    color: #ffffff;
  }

  .tab-links a button:hover{
    background-color: #262626;
    text-shadow: 2px 2px 5px #000000;
  }

  @media screen and (max-width: 1240px){
    .tab.responsive .tab-link{
      background-color: #1a1a1a;
    }
  }

  @media screen and (max-width: 680px){
    .icon{
      background-color: #1a1a1a;
    }

    .tab.responsive .tab-links{
      background-color: #1a1a1a;
    }
  }

  .tabcontent{
    text-shadow: 2px 2px 5px #000000;
  }

  .tabcontent p{
    text-shadow: 2px 2px 5px #000000;
  }

  .home-info{
    background-color: #262626;
  }

  .home-info-text-text .anchor-link.kadaster1:hover{
    text-shadow: 2px 2px 5px #ffffff;
    color: #ffffff;
  }

  .border{
    background-color: #1a1a1a;
  }

  .card{
    background-color: #1a1a1a;
  }

  .card img{
    border-bottom: #262626 solid 2px;
  }

  .footer{
    background-color: #1a1a1a;
    color: #ffffff;
  }

  .footer-info ul li:hover{
    text-shadow: 2px 2px 5px #000000;
  }
}
@media (prefers-color-scheme: light) {
  .dark-theme{
    display: none;
  }

  body{
    background-color: #e6e6e6;
    color: #1a1a1a;
  }

  a{
    color: #1a1a1a;
  }

  .horizongeodesie-colors{
    background-color: #ffffff;
  }

  .header{
    background-color: #ffffff;
  }

  .logo{
    color: #1a1a1a;
  }

  .logo-text a .anchor-link{
    background-color: #ffffff;
    color: #1a1a1a;
  }

  .logo-text a .anchor-link:hover{
    background-color: #f2f2f2;
  }

  .landmeten{
    background-color: #ffffff;
  }

  .landmeten:hover{
    background-color: #f2f2f2;
    text-shadow: 2px 2px 5px #ffffff;
  }

  .maatvoering{
    background-color: #ffffff;
  }

  .maatvoering:hover{
    background-color: #f2f2f2;
    text-shadow: 2px 2px 5px #ffffff;
  }

  .opleiding{
    background-color: #ffffff;
  }

  .opleiding:hover{
    background-color: #f2f2f2;
    text-shadow: 2px 2px 5px #ffffff;
  }

  .tab-links a button{
    background-color: #ffffff;
    color: #1a1a1a;
  }

  .tab-links a button:hover{
    background-color: #f2f2f2;
    text-shadow: 2px 2px 5px #ffffff;
  }

  @media screen and (max-width: 1240px){
    .tab.responsive .tab-link{
      background-color: #ffffff;
    }
  }

  @media screen and (max-width: 680px){
    .icon{
      background-color: #ffffff;
    }

    .tab.responsive .tab-links{
      background-color: #ffffff;
    }
  }

  .tabcontent p{
    text-shadow: 2px 2px 5px #ffffff;
  }

  .home-info{
    background-color: #f2f2f2;
  }

  .home-info-text-text .anchor-link.kadaster1:hover{
    text-shadow: 2px 2px 5px #1a1a1a;
    color: #1a1a1a;
  }

  .border{
    background-color: #ffffff;
  }

  .card{
    background-color: #ffffff;
  }

  .card img{
    border-bottom: #f2f2f2 solid 2px;
  }

  .footer{
    background-color: #ffffff;
    color: #1a1a1a;
  }
  
  .footer-info ul li:hover{
    text-shadow: 2px 2px 5px #ffffff;
  }
}

*{
  font-family: Tw Cen MT;
  list-style-type: none;
}

html{
  width: 100vw !important;
}

body{
  margin: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

.body-div{
  height: 100vh;
  position: relative;
}

.page-container{
  flex-grow: 1;
}

h1{
  font-size: 40px;
  margin: 20 0;
  font-weight: normal;
}
h2{
  font-size: 30px;
  margin: 15px 0;
  font-weight: normal;
}
h3{
  font-size: 20px;
  margin: 10px 0;
  font-weight: normal;
}
p{
  font-size: 20px;
  margin: 10px 0;
  font-weight: normal;
}
ul{
  font-size: 20px;
  margin: 10px 0;
  font-weight: normal;
}

.page-container h1{
  font-size: 40px;
  margin: 20 0;
  font-weight: normal;
}
.page-container h2{
  font-size: 30px;
  margin: 15px 0;
  font-weight: normal;
}
.page-container h3{
  font-size: 20px;
  margin: 10px 0;
  font-weight: normal;
}
.page-container p{
  font-size: 20px;
  margin: 10px 0;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.2;
}
.page-container ul{
  font-size: 20px;
  margin: 10px 0;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.2;
}

.horizongeodesie-colors{
  display: flex;
  height: 12.5px;
  width: 100%;
}
.green{
  background-color: #42b84c;
  height: 12.5px;
  width: 33%;
}
.blue{
  background-color: #5dc1e8;
  height: 12.5px;
  width: 34%;
  margin: 0 4px;
}
.grey{
  background-color: #ababab;
  height: 12.5px;
  width: 33%;
}

/* header section */

.header{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 125px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  z-index: 5;
  
}

/* logo section */

.logo{
  display: flex;
  margin: 25px 0.5vw 25px 4vw;
  font-size: 40px;
  height: 75px;
}

.logo-text{
  width: 300px;
  text-align: center;
  height: 75px;
  margin-top: -18px;
}

.logo-links{
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: -6px;
}

.logo img{
  margin-right: 12.5px;
}

.logo-text a .anchor-link{
  font-size: 40px;
  padding: 10.75px;
  border: none;
  width: 309px;
  border-radius: 32.25px;
  margin-left: -5px;
}
.logo-text a .anchor-link:hover{
  color: #5dc1e8;
  transition: .5s;
}

.landmeten{
  color: #42b84c;
  border: none;
  font-size: 15.2px;
  padding: 10.26px;
  border-radius: 18.25px;
}
.maatvoering{
  color:#5dc1e8;
  text-align: end;
  border: none;
  font-size: 15.2px;
  padding: 10.26px;
  border-radius: 18.25px;
}
.opleiding{
  color: #ababab;
  border: none;
  font-size: 15.2px;
  padding: 10.26px;
  border-radius: 18.25px;
}
.landmeten:hover{
  transition: .5s;
}
.maatvoering:hover{
  transition: .5s;
}
.opleiding:hover{
  transition: .5s;
}



/* tab section */

.tab{
  display: flex;
  align-items: center;
  margin-right: 4vw;
}

.tab-links{
  display: flex;
  margin: 1vw 0vw 1vw 0.5vw;
  align-items: center;
}

.tab-link{
  z-index: 2;
}

.anchor-link:hover{
  color: #5dc1e8;
}

.tab-links a button{
  padding: 12px;
  font-size: 20px;
  border: none;
  border-radius: 21px;
  background-color: inherit;
  cursor: pointer;
}
.tab-links a button:hover{
  transition: .5s;
}

.tab.responsive .icon{
  color: #42b84c;
}


.icon{
  display: none;
  float: right;
}

.icon:hover{
  color: #5dc1e8;
}

.tab.responsive .icon:hover{
  color: #5dc1e8;
}

.tab.responsive .icon{
  padding-bottom: 8px;
}

@media screen and (max-width: 1240px){
  .tab-link{
    display: none;
  }

  .tab{
    margin-right: 0;
  }

  .contact{
    padding-right: 0;
  }
  

  .icon{
    display: block;
    margin: auto;
    font-size: 28px;
    padding: 23.5px 4vw 23.5px 111.422px;
  }

  .tab.responsive .icon{
    margin: auto;
    margin-top: 23.5px;
  }

  .tab-links{
    display: block;
    margin-left: 0;
    z-index: 4;
  }


    .tab.responsive {
      position: relative;
    }
    .tab.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .tab.responsive .tab-link {
      float: none;
      display: block;
      text-align: right;
      padding: 0px calc(4vw - 12px);
    }

    .tab.responsive .tab-links{
      margin-top: 320px;
      margin-left: -80px;
    }

}

@media screen and (max-width: 680px) {
  .header{
    display: block;
  }

  .logo-text{
    margin: 0;
    margin-top: -18px;
  }

  .logo{
    margin: auto;
    width: 467.922px;
    height: 75px;
    padding: 25px 0;
  }

  .logo img{
    margin: 0 12.5px 0 0;
  }

  .icon{
    margin: 0;
    margin-top: 12.5px;
    position: absolute;
    right: 0;
    top: 112.5px;
    padding: 6.25px 16px 8px 16px;
  }

  .tab{
    float: right;
  }

  .tab.responsive .icon{
    margin-top: 0px;
    padding: 6.25px 16px 4px 16px;
    position: absolute;
    z-index: 2;
  }

  .tab.responsive .tab-links{
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
    right: 0;
    top: 0px;
    padding-top: 40px;
    z-index: 1;
  }
    .tab.responsive .tab-link{
    padding-right: 4px;
    padding-left: 4px;
  }
}

@media screen and (max-width:492.922px){
  .header{
    display: list-item;
    margin-top: 0px;
  }

  .logo-text{
    margin: 0;
    margin-top: -18px;
  }

  .logo{
    width: 300px;
  }

  .logo img{
    display: none;
  }

}

/* tab content */
.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
  display: none;
  text-align: center;
}

.tabcontent p{
  width: 80%;
  max-width: 500px;
  margin: auto;
  margin-bottom: 25px;
  text-align: left;
}


/* info-tabs section */

.list{
  margin: auto;
  width: 200px;
}
.list-kadaster{
  margin: auto;
  width: 200px;
}
.list-kadaster li{
  margin: auto;
  width: 200px;
}


.infotabs ul{
  width: 50%;
  display: inline-block;
  text-align: left;
  margin: auto;
  margin-bottom: 25px;
  padding-left: 0;
}
#opleiding-pagina h2{
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto
}
#opleiding-pagina h3{
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto
}
#opleiding-pagina ul{
  display: block;
  width: 80%;
  max-width: 420px;
  margin: auto;
  margin-bottom: 50px;
  padding-left: 10%;
  box-sizing: border-box;
}
.ul-margin{
  margin: 0 auto !important;
  padding: 0 !important;
}
.ul-margin li{
  width: 100%;
}
.ul-margin-ul{
  margin: 0 auto !important;
  padding: 0 !important;
}
h1#opleiding{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
#opleiding-pagina ul li{
  list-style: disc;
}
#opleiding-pagina ul ol li{
  list-style-type: decimal;
}


/* contact section */
.contact-info{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.contact-info .ul{
  margin-left: 3vw;
}

.contact-info .ul ul{
  display: block;
  box-sizing: border-box;
  padding: 2vw 0;
  margin: 0 12.5px;
  width: calc(242px + 4vw) !important;
}

.contact-info .ul ul li{
  font-size: calc(19px + 0.333vw);
  margin: 12.5px 0;
}

.contact-info .ul ul li a{
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-left: 0px;
  width: 300px;
}

.contact-info .ul ul li img{
  height: calc(31px + .333vw);
  width: calc(31px + .333vw);
  border-radius: 50%;
}

.contact-info .ul ul li a:hover{
  color: #5dc1e8;
  transition: .5s;
}

.contact-info .ul ul li a:hover img{
  opacity: 0.8;
  box-shadow: #5dc1e8 0px 2px 4px 0px, #5dc1e8 0px 2px 16px 0px;
  transition: .5s;
}

.contact-info ul li a div{
  margin-left: 8px;
}

@media screen and (max-width:609px){
  .contact-info .img img{
    float: left;
  }
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Slideshow container */
.slideshow-container {
  margin: 0 auto;
  z-index: 1;
  width: 50%;
  float: right;
}

.img-container{
  width: 50%;
}

.img-1{
  width: 100%;
  height: 500px;
  background-image: url('images/new-images/IMG-20240521-WA0000.jpg');
  background-size: cover;
  background-position: center center;
  display: block;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.img-2{
  width: 100%;
  height: 500px;
  background-image: url('images/new-images/IMG-20240521-WA0001.jpg');
  background-size: cover;
  background-position: center center;
  display: block;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.img-3{
  width: 100%;
  height: 500px;
  background-image: url('images/new-images/IMG-20240521-WA0002.jpg');
  background-size: cover;
  background-position: center center;
  display: block;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.img-4{
  width: 100%;
  height: 500px;
  background-image: url('images/new-images/IMG-20240521-WA0003.jpg');
  background-size: cover;
  background-position: center center;
  display: block;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.img-5{
  width: 100%;
  height: 649px;
  background-image: url('images/new-images/IMG-20240521-WA0004.jpg');
  background-size: cover;
  background-position: center center;
  display: block;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.img-6{
  width: 100%;
  height: 500px;
  background-image: url('images/default-profile-picture.jpg');
  background-size: cover;
  background-position: center center;
  display: block;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}



/* Hide the images by default */
.mySlides {
  display: none;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* home info section */

.home-info-text{
  text-align: center;
  padding: 0;
  width: 50%;
  float: left;
}

.home-info-text-text{
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.home-info-text-text .anchor-link.landmeten1{
  color: #42b84c;
}
.home-info-text-text .anchor-link.landmeten1:hover{
  text-shadow: 2px 2px 5px #42b84c;
}

.home-info-text-text .anchor-link.maatvoering1{
  color: #5dc1e8;
}
.home-info-text-text .anchor-link.maatvoering1:hover{
  text-shadow: 2px 2px 5px #5dc1e8;
}

.home-info-text-text .anchor-link.opleiding1{
  color: #ababab;
}
.home-info-text-text .anchor-link.opleiding1:hover{
  text-shadow: 2px 2px 5px #ababab;
}


.home-info-text p{
  width: 100%;
}

.home-info-text button{
  margin-bottom: 20px;
  background-color: #5dc1e8;
  color: #ffffff;
  border: 0;
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
  text-shadow: 2px 2px 5px #000000;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.home-info-text button:hover{
  background-color: #42b84c;
  color: #ffffff;
  text-shadow: 2px 2px 5px #000000;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.home-info{
  display: flex;
  align-items: center;
}
@media screen and (max-width:849px){
  .home-info{
    flex-direction: column-reverse;
  }

  .img-5{
    height: 500px;
  }

  .slideshow-container {
    width: 100%;
  }
  .home-info-text{
    width: 100%;
  }

.img-container{
  width: 100%;
}
}

.border{
  height: 2px;
  width: 100%;
}

/* home diensten section */

.diensten-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.diensten-cards a{
  text-decoration: none;
}

.card{
  width: 300px;
  text-align: center;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 12.5px;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 25px;
}

.card:hover{
  box-shadow: #5dc1e8 0px 22px 70px 4px;
  transition: .5s;
}

.card img{
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
}

h4{
  font-size: 30px;
  font-weight: normal;
}

.h4.landmeten1{
  color: #42b84c;
  text-align: center;
  margin: 15px 30px;
}
.h4.maatvoering1{
  color: #5dc1e8;
  text-align: center;
  margin: 15px 30px;
}
.h4.opleiding1{
  color: #ababab;
  text-align: center;
  margin: 15px 30px;
}
.h4.kadaster1{
  text-align: center;
  margin: 15px 30px;
}

.card-p2{
  margin: auto;
  width: 250px;
  font-size: 20px;
  text-align: left;
}

.diensten-cards-sub1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.diensten-cards-sub2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* footer section */

.footer{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 100%;
}

.copyright{
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2vw;
  font-size: 20px;
}

.footer-info ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2vw 0;
  margin: 25px auto;
}

.footer-info ul li a{
  display: flex;
  align-items: center;
  margin: 6.25px;
  font-size: 20px;
}

.footer-info ul li a:hover{
  color: #5dc1e8;
  transition: .5s;
}

.footer-info ul li a img{
  border-radius: 50%;
}

.footer-info ul li a:hover img{
  opacity: 0.8;
  box-shadow: #5dc1e8 0px 2px 4px 0px, #5dc1e8 0px 2px 16px 0px;
  transition: .5s;
}

.footer-info ul li a div{
  margin-left: 8px;
}


@media screen and (max-width:674px){
  .footer-info ul li a{
    height: 32px;
    width: calc(242px + 4vw) !important;
  }
  
}

@media screen and (max-width:640px){
  .logo-copyright{
    width: calc(242px + 4vw) !important;
    margin: auto;
  }

  .copyright{
    width: 250px;
    text-align: left;
    margin-left: 8px;
  }
}


@media screen and (max-width:454px){
  .footer-info ul li{
    width: calc(242px + 4vw) !important;
    margin-left: 4px;
  }
  
  .logo-copyright{
    width: calc(242px + 4vw) !important;
    margin: auto;
  }

  .copyright{
    width: 250px;
    text-align: left;
    margin-left: 8px;
  }
}