@font-face {
  font-family: Tw Cen MT;
  src: url(tw-cen-mt/tw-cen-mt.ttf);
}

*{
  font-family: Tw Cen MT;
}

body{
  margin: 0;
  background-color: #353535;
}

a{
  text-decoration: none;
  color: white;
}

.header{
  display: flex;
  justify-content: space-between;
  background-color: #161616;
  box-sizing: border-box;
  height: 100px;
}

.logo{
  display: flex;
  margin: 12.5px 0.5vw 12.5px 4vw;
  font-size: 40px;
  color: white;
  height: 75px;
}

.logo-text{
  width: 300px;
  text-align: center;
  height: 75px;
}

.logo-links{
  display: flex;
  justify-content: space-between;
  width: 300px;
  font-size: 15px;
  margin-top: 24px;
}

.h1{
  margin-top: -6px;
}

.logo img{
  margin: 0 1rem 0 0;
}

.landmeten{
  color: #42b84c;
  margin-left: 8px;
}

.maatvoering{
  color:#5dc1e8;
  text-align: end;
}

.opleiding{
  color: #ababab;
  margin-right: 8px;
}

.tab{
  display: flex;
  align-items: center;
}

.tab-links{
  display: flex;
  margin: 1vw 0vw 1vw 0.5vw;
  font-size: 16px;
  align-items: center;
}

.tab-link{
  padding: 8px;
  background-color: #161616;
}

#contact{
  padding-right: 4vw;
}

.icon{
  display: none;
  float: right;
}

@media screen and (max-width: 1100px){
  .tab-link{
    display: none;
  }

  .icon{
    display: block;
    margin: 34px 34px auto auto;
    font-size: 28px;
  }

  .tab.responsive .icon{
    margin: 34px 34px auto auto;
  }

  .tab-links{
    display: block;
    margin-left: 0;
  }

  #contact{
    padding-right: 4vw;
  }

    .tab.responsive {
      position: relative;
    }

    .tab.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .tab.responsive .tab-link {
      float: none;
      display: block;
      text-align: right;
      padding-right: 4vw;
      background-color: #161616;
    }

    .tab.responsive .tab-links{
      margin-top: 310px;
      margin-left: -80px;
    }

}

@media screen and (max-width: 578px){

}

